<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--用户,角色,权限-->
        <mapping class="com.it.api.table.user.Tb_User"/>
        <mapping class="com.it.api.table.user.Tb_UserLog"/>
        <mapping class="com.it.api.table.user.Tb_User_Role"/>
        <mapping class="com.it.api.table.user.Tb_Role"/>
        <mapping class="com.it.api.table.user.Tb_Role_Auth"/>
        <mapping class="com.it.api.table.user.Tb_Auth"/>
        <mapping class="com.it.api.table.user.Tb_User_Auth"/>

        <!--订单-->
        <mapping class="com.it.api.table.order.Tb_Order"/>
        <mapping class="com.it.api.table.order.Tb_OrderProcess"/>

        <!--供应商-->
        <mapping class="com.it.api.table.customer.Tb_Supplier"/>

    </session-factory>
</hibernate-configuration>
